[user]
  name = Brian Weaver
  email = bdrums@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[core]
  excludesfile = ~/.gitignore_global
  commentChar = ";"
  pager = delta
[diff]
  algorithm = histogram
[interactive]
  diffFilter = delta --color-only
[commit]
  template = ~/.gitmessage
[merge]
  conflictstyle = zdiff3
[rebase]
  autosquash = true
  updateRefs = true
[pull]
  rebase = true
[push]
  default = current
  autoSetupRemote = true
[alias]
  stashdiff = stash show -
  wip = !"git add --all; git ls-files --deleted -z | xargs -0 git rm; git commit --message=WIP"
  unwip = !"git log -n 1 | grep -q -c 'WIP' && git reset HEAD~1"
  lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate=full
  gwtl = worktree list
  wta = !f() { git worktree add -b "$1" "../$1"; }; f
  wtr = !f() { git worktree remove "../$1"; }; f
  gwtp = worktree prune
[init]
  defaultBranch = main
[hub]
  protocol = ssh
[fetch]
  prune = true
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
; [url "ssh://git@"]
;   insteadOf = git://
[github]
  user = bweave
[rerere]
	enabled = true
