<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>On my way!</string>
		<key>shortcut</key>
		<string>omw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>™</string>
		<key>shortcut</key>
		<string>TM</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😀</string>
		<key>shortcut</key>
		<string>:grin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😃</string>
		<key>shortcut</key>
		<string>:smile</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😄</string>
		<key>shortcut</key>
		<string>:happy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😁</string>
		<key>shortcut</key>
		<string>:beam</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😆</string>
		<key>shortcut</key>
		<string>:laugh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😅</string>
		<key>shortcut</key>
		<string>:sweat</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤣</string>
		<key>shortcut</key>
		<string>:rofl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😂</string>
		<key>shortcut</key>
		<string>:joy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙂</string>
		<key>shortcut</key>
		<string>:slight</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙃</string>
		<key>shortcut</key>
		<string>:upside</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😉</string>
		<key>shortcut</key>
		<string>:wink</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😊</string>
		<key>shortcut</key>
		<string>:blush</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😇</string>
		<key>shortcut</key>
		<string>:angel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🥰</string>
		<key>shortcut</key>
		<string>:love</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😍</string>
		<key>shortcut</key>
		<string>:hearts</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤩</string>
		<key>shortcut</key>
		<string>:star</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😘</string>
		<key>shortcut</key>
		<string>:kiss</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☺️</string>
		<key>shortcut</key>
		<string>:relaxed</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😋</string>
		<key>shortcut</key>
		<string>:yum</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😛</string>
		<key>shortcut</key>
		<string>:tongue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😜</string>
		<key>shortcut</key>
		<string>:wink2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤪</string>
		<key>shortcut</key>
		<string>:zany</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😝</string>
		<key>shortcut</key>
		<string>:closed</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤑</string>
		<key>shortcut</key>
		<string>:money</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤗</string>
		<key>shortcut</key>
		<string>:hug</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤭</string>
		<key>shortcut</key>
		<string>:hand</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤫</string>
		<key>shortcut</key>
		<string>:shush</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤔</string>
		<key>shortcut</key>
		<string>:think</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤐</string>
		<key>shortcut</key>
		<string>:zip</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤨</string>
		<key>shortcut</key>
		<string>:raised</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😐</string>
		<key>shortcut</key>
		<string>:neutral</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😑</string>
		<key>shortcut</key>
		<string>:blank</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😶</string>
		<key>shortcut</key>
		<string>:silent</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😏</string>
		<key>shortcut</key>
		<string>:smirk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😒</string>
		<key>shortcut</key>
		<string>:unamused</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙄</string>
		<key>shortcut</key>
		<string>:roll</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😬</string>
		<key>shortcut</key>
		<string>:grim</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤥</string>
		<key>shortcut</key>
		<string>:lie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😔</string>
		<key>shortcut</key>
		<string>:pensive</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😪</string>
		<key>shortcut</key>
		<string>:sleepy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤤</string>
		<key>shortcut</key>
		<string>:drool</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😴</string>
		<key>shortcut</key>
		<string>:sleep</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😷</string>
		<key>shortcut</key>
		<string>:mask</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤒</string>
		<key>shortcut</key>
		<string>:sick</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤕</string>
		<key>shortcut</key>
		<string>:hurt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤢</string>
		<key>shortcut</key>
		<string>:nausea</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤮</string>
		<key>shortcut</key>
		<string>:vomit</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤧</string>
		<key>shortcut</key>
		<string>:sneeze</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🥵</string>
		<key>shortcut</key>
		<string>:hot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🥶</string>
		<key>shortcut</key>
		<string>:cold</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🥴</string>
		<key>shortcut</key>
		<string>:woozy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😵</string>
		<key>shortcut</key>
		<string>:dizzy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤯</string>
		<key>shortcut</key>
		<string>:mind</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤠</string>
		<key>shortcut</key>
		<string>:cowboy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🥳</string>
		<key>shortcut</key>
		<string>:party</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😎</string>
		<key>shortcut</key>
		<string>:cool</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤓</string>
		<key>shortcut</key>
		<string>:nerd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🧐</string>
		<key>shortcut</key>
		<string>:monocle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😕</string>
		<key>shortcut</key>
		<string>:confused</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😟</string>
		<key>shortcut</key>
		<string>:worried</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙁</string>
		<key>shortcut</key>
		<string>:frown</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☹️</string>
		<key>shortcut</key>
		<string>:sad</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😮</string>
		<key>shortcut</key>
		<string>:open</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😯</string>
		<key>shortcut</key>
		<string>:hushed</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😲</string>
		<key>shortcut</key>
		<string>:shocked</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😳</string>
		<key>shortcut</key>
		<string>:flush</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🥺</string>
		<key>shortcut</key>
		<string>:plead</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😧</string>
		<key>shortcut</key>
		<string>:anguish</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😨</string>
		<key>shortcut</key>
		<string>:fear</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😰</string>
		<key>shortcut</key>
		<string>:sweat2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😥</string>
		<key>shortcut</key>
		<string>:relief</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😢</string>
		<key>shortcut</key>
		<string>:cry</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😭</string>
		<key>shortcut</key>
		<string>:sob</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😱</string>
		<key>shortcut</key>
		<string>:scream</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😖</string>
		<key>shortcut</key>
		<string>:confuse</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😣</string>
		<key>shortcut</key>
		<string>:persist</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😞</string>
		<key>shortcut</key>
		<string>:disappoint</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😩</string>
		<key>shortcut</key>
		<string>:weary</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😫</string>
		<key>shortcut</key>
		<string>:tired</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🥱</string>
		<key>shortcut</key>
		<string>:yawn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😤</string>
		<key>shortcut</key>
		<string>:triumph</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😡</string>
		<key>shortcut</key>
		<string>:rage</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😠</string>
		<key>shortcut</key>
		<string>:angry</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤬</string>
		<key>shortcut</key>
		<string>:curse</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😈</string>
		<key>shortcut</key>
		<string>:devil</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👿</string>
		<key>shortcut</key>
		<string>:imp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💀</string>
		<key>shortcut</key>
		<string>:skull</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☠️</string>
		<key>shortcut</key>
		<string>:bones</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💩</string>
		<key>shortcut</key>
		<string>:poop</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤡</string>
		<key>shortcut</key>
		<string>:clown</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👻</string>
		<key>shortcut</key>
		<string>:ghost</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👽</string>
		<key>shortcut</key>
		<string>:alien</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤖</string>
		<key>shortcut</key>
		<string>:robot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎃</string>
		<key>shortcut</key>
		<string>:pumpkin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😺</string>
		<key>shortcut</key>
		<string>:cat</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😸</string>
		<key>shortcut</key>
		<string>:catjoy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😹</string>
		<key>shortcut</key>
		<string>:cathappy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😻</string>
		<key>shortcut</key>
		<string>:catheart</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😼</string>
		<key>shortcut</key>
		<string>:catsmirk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😽</string>
		<key>shortcut</key>
		<string>:catkiss</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙀</string>
		<key>shortcut</key>
		<string>:catscream</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😿</string>
		<key>shortcut</key>
		<string>:catcry</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😾</string>
		<key>shortcut</key>
		<string>:catpout</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👋</string>
		<key>shortcut</key>
		<string>:wave</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✋</string>
		<key>shortcut</key>
		<string>:stop</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🖖</string>
		<key>shortcut</key>
		<string>:spock</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👌</string>
		<key>shortcut</key>
		<string>:ok</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✌️</string>
		<key>shortcut</key>
		<string>:peace</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤞</string>
		<key>shortcut</key>
		<string>:cross</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤟</string>
		<key>shortcut</key>
		<string>:ily</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤘</string>
		<key>shortcut</key>
		<string>:rock</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤙</string>
		<key>shortcut</key>
		<string>:call</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👈</string>
		<key>shortcut</key>
		<string>:left</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👉</string>
		<key>shortcut</key>
		<string>:right</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👆</string>
		<key>shortcut</key>
		<string>:up</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👇</string>
		<key>shortcut</key>
		<string>:down</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☝️</string>
		<key>shortcut</key>
		<string>:up2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👍</string>
		<key>shortcut</key>
		<string>:thumbsup</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👎</string>
		<key>shortcut</key>
		<string>:thumbsdown</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✊</string>
		<key>shortcut</key>
		<string>:fist</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👊</string>
		<key>shortcut</key>
		<string>:punch</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤛</string>
		<key>shortcut</key>
		<string>:leftfist</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤜</string>
		<key>shortcut</key>
		<string>:rightfist</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👏</string>
		<key>shortcut</key>
		<string>:clap</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙌</string>
		<key>shortcut</key>
		<string>:raise</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👐</string>
		<key>shortcut</key>
		<string>:openhands</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤝</string>
		<key>shortcut</key>
		<string>:shake</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙏</string>
		<key>shortcut</key>
		<string>:pray</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✍️</string>
		<key>shortcut</key>
		<string>:write</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💅</string>
		<key>shortcut</key>
		<string>:nails</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤳</string>
		<key>shortcut</key>
		<string>:selfie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💪</string>
		<key>shortcut</key>
		<string>:muscle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👀</string>
		<key>shortcut</key>
		<string>:eyes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👁️</string>
		<key>shortcut</key>
		<string>:eye</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👅</string>
		<key>shortcut</key>
		<string>:tongue2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👄</string>
		<key>shortcut</key>
		<string>:lips</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💋</string>
		<key>shortcut</key>
		<string>:kiss2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💔</string>
		<key>shortcut</key>
		<string>:broken</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❤️</string>
		<key>shortcut</key>
		<string>:heart</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🧡</string>
		<key>shortcut</key>
		<string>:orange</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💛</string>
		<key>shortcut</key>
		<string>:yellow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💚</string>
		<key>shortcut</key>
		<string>:green</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💙</string>
		<key>shortcut</key>
		<string>:blue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💜</string>
		<key>shortcut</key>
		<string>:purple</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🖤</string>
		<key>shortcut</key>
		<string>:black</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤍</string>
		<key>shortcut</key>
		<string>:white</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤎</string>
		<key>shortcut</key>
		<string>:brown</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💕</string>
		<key>shortcut</key>
		<string>:hearts2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💞</string>
		<key>shortcut</key>
		<string>:revolve</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💓</string>
		<key>shortcut</key>
		<string>:beat</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💗</string>
		<key>shortcut</key>
		<string>:pulse</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💖</string>
		<key>shortcut</key>
		<string>:sparkle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💘</string>
		<key>shortcut</key>
		<string>:cupid</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💝</string>
		<key>shortcut</key>
		<string>:gift</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❌</string>
		<key>shortcut</key>
		<string>:x</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⭕</string>
		<key>shortcut</key>
		<string>:o</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🛑</string>
		<key>shortcut</key>
		<string>:stopsign</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⛔</string>
		<key>shortcut</key>
		<string>:noentry</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🚫</string>
		<key>shortcut</key>
		<string>:prohibited</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💯</string>
		<key>shortcut</key>
		<string>:100</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💢</string>
		<key>shortcut</key>
		<string>:anger</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🚭</string>
		<key>shortcut</key>
		<string>:nosmoking</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❗</string>
		<key>shortcut</key>
		<string>:!</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❓</string>
		<key>shortcut</key>
		<string>:?</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‼️</string>
		<key>shortcut</key>
		<string>:!!</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁉️</string>
		<key>shortcut</key>
		<string>:!?</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⚠️</string>
		<key>shortcut</key>
		<string>:warn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♻️</string>
		<key>shortcut</key>
		<string>:recycle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✅</string>
		<key>shortcut</key>
		<string>:check</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❎</string>
		<key>shortcut</key>
		<string>:xmark</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🌐</string>
		<key>shortcut</key>
		<string>:globe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💤</string>
		<key>shortcut</key>
		<string>:zzz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🔥</string>
		<key>shortcut</key>
		<string>:fire</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💥</string>
		<key>shortcut</key>
		<string>:boom</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⚡</string>
		<key>shortcut</key>
		<string>:zap</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🌟</string>
		<key>shortcut</key>
		<string>:star2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⭐</string>
		<key>shortcut</key>
		<string>:star3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🌠</string>
		<key>shortcut</key>
		<string>:shooting</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎯</string>
		<key>shortcut</key>
		<string>:dart</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🚀</string>
		<key>shortcut</key>
		<string>:rocket</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎉</string>
		<key>shortcut</key>
		<string>:tada</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎊</string>
		<key>shortcut</key>
		<string>:confetti</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎈</string>
		<key>shortcut</key>
		<string>:balloon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎁</string>
		<key>shortcut</key>
		<string>:present</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎀</string>
		<key>shortcut</key>
		<string>:ribbon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎂</string>
		<key>shortcut</key>
		<string>:cake</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🍰</string>
		<key>shortcut</key>
		<string>:shortcake</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎵</string>
		<key>shortcut</key>
		<string>:music</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎶</string>
		<key>shortcut</key>
		<string>:notes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🔔</string>
		<key>shortcut</key>
		<string>:bell</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🔕</string>
		<key>shortcut</key>
		<string>:nobell</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📢</string>
		<key>shortcut</key>
		<string>:loud</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📣</string>
		<key>shortcut</key>
		<string>:mega</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📯</string>
		<key>shortcut</key>
		<string>:horn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🔊</string>
		<key>shortcut</key>
		<string>:speaker</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🔇</string>
		<key>shortcut</key>
		<string>:mute</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📱</string>
		<key>shortcut</key>
		<string>:phone</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📞</string>
		<key>shortcut</key>
		<string>:receiver</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☎️</string>
		<key>shortcut</key>
		<string>:oldphone</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💻</string>
		<key>shortcut</key>
		<string>:laptop</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🖥️</string>
		<key>shortcut</key>
		<string>:desktop</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌨️</string>
		<key>shortcut</key>
		<string>:keyboard</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🖱️</string>
		<key>shortcut</key>
		<string>:mouse</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🖨️</string>
		<key>shortcut</key>
		<string>:printer</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📧</string>
		<key>shortcut</key>
		<string>:email</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💌</string>
		<key>shortcut</key>
		<string>:love</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📮</string>
		<key>shortcut</key>
		<string>:postbox</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📬</string>
		<key>shortcut</key>
		<string>:mailbox</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📭</string>
		<key>shortcut</key>
		<string>:mailbox2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>📪</string>
		<key>shortcut</key>
		<string>:mailbox3</string>
	</dict>
</array>
</plist>